<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} {% load staticfiles %} {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieApp</title>
    <style>  
        a{  
            text-decoration: none;  
            color: green;  
            font-size: 20px;  
            padding : 8px;  
        }  
        a:hover{  
            color: blue;  
        }  
             h1{  
        text-align: center;  
        }  
    </style>  
</head>
<body>
    {% comment %} {% block content %} {% endcomment %}
    <div>
    <nav class="navbar mynav" role='navigation' id='navbar'>
        <div class="container">
            {% comment %} {% block homepage %} {% endcomment %}
            <a class ='navbar-brand mynav' href="{% url 'demoApp:home' %}">MovieApp</a>
            
            {% comment %} <a class ='navbar-brand mynav' href="{% url 'demoApp:home' %}">MovieApp</a> {% endcomment %}
            
            <ul class = "nav navbar-nav navbar-right">
                    <li><a href="{% url 'demoApp:login' %}" >log in</a></li>
                    <li><a href="{% url 'demoApp:signup' %}" >sign up</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/" >admin</a></li>
            </ul>
            {% comment %} {% endblock %} {% endcomment %}
        </div>
    </nav>
</div>
<div class="container mycontent">
    {% block content %} 

    {% endblock %}

  </div>
{% comment %} {% endblock %} {% endcomment %}
</body>
</html>